.indexPage {
  background: #A2C7D7;
  height: 100vh;
  .title {
    color: #fff;
    padding_top: 48px;
    text-align: center;
  }

  .subtitle {
    color: #fff;
    padding_top: 24px;
    text-align: center;
  }

  .enterButton {
    width: 60vw;
  }
}
